
core-old/target/classes/META-INF/maven/net.oauth/oauth-core/pom.properties

core/commons/target/classes/META-INF/maven/net.oauth.core/oauth/pom.properties

core/consumer/target/classes/META-INF/maven/net.oauth.core/oauth-consumer/pom.properties

core/test/target/classes/META-INF/maven/net.oauth.core/oauth-test/pom.properties

core/httpclient4/target/classes/META-INF/maven/net.oauth.core/oauth-httpclient4/pom.properties

core/provider/target/classes/META-INF/maven/net.oauth.core/oauth-provider/pom.properties

core/test/target/classes/META-INF/maven/net.oauth.core/oauth-test/pom.properties

example/desktop/target/classes/META-INF/maven/net.oauth.example/oauth-example-desktop/pom.properties

example/oauth-provider/target/m2e-wtp/web-resources/META-INF/maven/net.oauth.example/oauth-example-provider/pom.properties

example/webapp/target/m2e-wtp/web-resources/META-INF/maven/net.oauth.example/oauth-example-consumer/pom.properties

core/httpclient3/target/classes/META-INF/maven/net.oauth.core/oauth-httpclient3/pom.properties
